@page "/"
@using BlazorApp.Data

<h1>@Title</h1>

Welcome to your new app.

<Test Title="我是标题" Value="999" OnClick="Show"></Test>

<Test1 Items="people">
    <HeaderTempate>
        <th>Id</th>
        <th>Name</th>
    </HeaderTempate>
    <RowTemplate>
        <td>@context.Id</td>
        <td>@context.Name</td>
    </RowTemplate>
</Test1>

<Test1 Items="students">
    <HeaderTempate>
        <th>Id</th>
        <th>Age</th>
    </HeaderTempate>
    <RowTemplate>
        <td>@context.Id</td>
        <td>@context.Age</td>
    </RowTemplate>
</Test1>

<SurveyPrompt Title="How is Blazor working for you?" />

<label>Function使用</label>
<input @onchange="onchange" />

<br />
<label>Lamda使用</label>
<input @onchange="@((e)=>
                    {
                        Title = e.Value.ToString() + "(from lamda)";
                    })" />

@code{
    public void Show()
    { }

    public List<Person> people;
    public List<Student> students;
    protected override Task OnInitializedAsync()
    {
        people = new List<Person>();
        students = new List<Student>();
        for (int i = 0; i < 5; i++)
        {
            people.Add(new Person() { Id = i.ToString(), Name = "test" + i });
            students.Add(new Student() { Id = i.ToString(), Age = i });
        }
        return base.OnInitializedAsync();
    }

    public string Title { get; set; } = "Hello, world!";
    /// <summary>
    /// 方法支持await、async（异步）
    /// </summary>
    /// <param name="e"></param>
    public void onchange(ChangeEventArgs e)
    {
        Title = e.Value.ToString() + "(from function)";
    }
}